<klp-form [formGroup]="myForm">
	<klp-form-element caption="First Name">
		<klp-form-text-input formControlName="firstName">
		</klp-form-text-input>
	</klp-form-element>
	<klp-form-element caption="Last Name" *ngIf="show">
		<klp-form-text-input formControlName="lastName">
		</klp-form-text-input>
	</klp-form-element>
	<klp-form-submit-button [submitCallback]="submitForm">
		Submit
	</klp-form-submit-button>
</klp-form>

<klp-form-button (click)="toggleLastNameState()">
	Disable/Enable Lastname
</klp-form-button>

<klp-form-button (click)="toggleLastNameVisibility()">
	Show/Hide Lastname
</klp-form-button>

<br>
<h1>
	Submitted Values:
</h1>
<p>
	{{(formSubmission | json) || "null"}}
</p>

