<klp-form [formGroup]="myForm">
	<klp-form-element caption="First Name">
		<klp-form-text-input formControlName="firstName">
		</klp-form-text-input>
	</klp-form-element>
	<klp-form-element caption="Last Name" *ngIf="show">
		<klp-form-text-input formControlName="lastName">
		</klp-form-text-input>
	</klp-form-element>
	<klp-form-submit-button [submitCallback]="submitForm">
		Submit
	</klp-form-submit-button>
</klp-form>

<form [formGroup]="myForm">
	<input formControlName="firstName" />
	<input formControlName="lastName" />
	<button (click)="subm()">bla</button>
</form>

<br>
<h1>
	Submitted Values:
</h1>
<p>
	{{(formSubmission | json) || "null"}}
</p>

