<klp-form [formGroup]="myForm" [showErrorMessages]="false">
	<klp-form-element caption="Emails" direction="vertical">
		<klp-form-text-input formControlName="emails">
		</klp-form-text-input>
	</klp-form-element>
	<klp-form-element caption="Yes or no">
		<klp-form-toggle formControlName="yesno">
		</klp-form-toggle>
	</klp-form-element>
	<klp-form-element caption="Yes or no2">
		<klp-form-toggle formControlName="yesno2">
		</klp-form-toggle>
	</klp-form-element>
	<klp-form-element caption="select something">
		<klp-form-select [options]="options" formControlName="selector"></klp-form-select>
	</klp-form-element>
	<ng-container *ngFor="let email of emails; index as idx">
		<klp-sub-form [injectInto]="subbies" [at]="idx">
			<app-sub-form-example></app-sub-form-example>
		</klp-sub-form>
	</ng-container>
	<klp-sub-form *ngIf="show" [injectInto]="myForm" at="oli">
		<app-sub-form-example></app-sub-form-example>
	</klp-sub-form>
	<klp-form-submit-button [submitCallback]="submitForm">
		Submit
	</klp-form-submit-button>
	<klp-form-button variant="redOutlined">Red</klp-form-button>
</klp-form>

<klp-form-select [options]="options" [multiple]="true"></klp-form-select>
<klp-form-date-time-picker [(ngModel)]="testDate"></klp-form-date-time-picker>
<klp-form-checkbox [(ngModel)]="isChecked"></klp-form-checkbox>
<klp-form-checkbox [(ngModel)]="isChecked" [renderUndefinedAsIndeterminate]="true"></klp-form-checkbox>
<klp-form-button (click)="toggie()">clickie</klp-form-button>


