klp-form-element {
	margin-bottom: 1rem;
}

.smallText {
	margin-left: 100px;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

klp-form-text-area {
	height: 10rem;
}
.myToolTip {
	background: black;
	color: white;
	padding: 0.3rem;
	width: 20rem;
}

.box {
	border: 3px solid red;
	width: 100px;
	padding: 1rem;
	margin-top: 2rem;
}
