//==================================
// 	Fonts
//==================================

$primary: #27bb5f!default;
$default-primary: $primary!default;
$success: $primary!default;
$warning: #EC7500!default;

$ocr-processing: rgba(100%, 76%, 3%, 0.2);
$needs-ocr-review: lighten($primary, 50%);

$font-primary:   Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-secondary: $font-primary;

$font-size-small-2: 0.75rem;
$font-size-small-1: 0.8125rem;
$font-size-default: 0.875rem;
$font-size-large-1: 1rem;
$font-size-large-2: 1.125rem;
$font-size-large-3: 2.5rem;

$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

//==================================
// 	Spacings
//==================================

// comments describe a guideline, it is not a strict rule
$spacing-tiny: 0.3125rem; // in front of fontawesome icon, size of a 'space'
$spacing-small: 0.625rem; // between elements that are highly correlated
$spacing-normal: 1rem; // around forms and modal elements
$spacing-medium: 1.25rem; // between elements that belong to same section
$spacing-large: 1.875rem; // between sections but sections are still somewhat correlated
$spacing-huge: 2.5rem; // between sections

$padding-tiny: 0.125rem;
$padding-very-small: 0.25rem;
$padding-small: 0.375rem;
$padding-medium: 0.5rem;
$padding-large: 0.625rem;

//==================================
// 	Default color
//==================================

$default-dark:            #515365 !default;
$default-white:           #ffffff !default;
$default-gray-light:      #f8f9fa !default;
$default-gray:            #f6f7fb !default;
$default-gray-semi-dark:  #cccccc !default;
$default-gray-faded-dark: #adadad !default;
$default-gray-dark:       #666666 !default;
$default-text-color:      #888da8 !default;
$default-primary:         #7774e7 !default;
$default-success:         #37c936 !default;
$default-info:            #0f9aee !default;
$default-accepted: 	 	  #17a2b8 !default;
$default-warning:         #ff8000 !default;
$default-danger:          #ff3c7e !default;

/* Toast variables */
$success-border-color: $primary!default;
$info-border-color: $default-info!default;
$warning-border-color: $default-warning!default;
$error-border-color: $default-danger!default;
$async-border-color: $info-border-color!default;
$confirm-border-color: $default-gray!default;
$prompt-border-color: $default-dark!default;

//==================================
// 	Inverse color
//==================================
$inverse-primary: lighten($default-primary, 30%);
$inverse-success: lighten($default-success, 45%);
$inverse-info: lighten($default-info, 45%);
$inverse-warning: lighten($default-warning, 45%);
$inverse-danger: lighten($default-danger, 35%);

//==================================
// 	Misc
//==================================
$border-color:            #e6ecf5;
$header-height:           65px;
$offscreen-size:          280px;
$collapsed-size:          70px;
$side-nav-dark:           #313644;
$side-nav-dark-font:      #99abb4;
$side-nav-dark-border:    rgba(120,130,140,0.3);
$table-color:             $default-text-color;
$table-cell-min-width: 	  8rem;

//==================================
// 	Containers
//==================================
$border-default: 1px solid $border-color;
$border-radius-default: 5px;

//==================================
// 	Badges
//==================================
$badge-border-radius: 50px;
$badge-line-height: 1;


//==================================
// 	Header Themes
//==================================
$theme-primary:    $default-primary;
$theme-info:       $default-info;
$theme-success:    desaturate($default-success, 5%);
$theme-danger:     #f53f61;
$theme-dark:       lighten($side-nav-dark, 10%);

//==================================
// 	Social media color
//==================================

$facebook:    #3B579D;
$twitter:     #2CAAE1;
$instagram:   #5d4a3b;
$google-plus: #dc4a38;
$pinterest:   #c9181f;
$skype:       #00AAF1;
$linkedin:    #0177b5;
$youtube:     #DE2825;
$yahoo:       #7b0099;
$rss:         #f58432;
$dropbox:     #007EE6;
$sound-cloud: #FF6A22;
$vimeo:       #1BB6EC;
$bing:        #ffb900;
$dribbble:    #ea4c89;
$html5:       #f16528;
$sharethis:   #50b948;
$tumblr:      #36465d;
$wordpress:   #0087be;

$grid-breakpoints: (
  	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1440px
);
