name: NPM Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 14.x
          always-auth: true
      - run: yarn install
      - run: yarn build:prod
      - run: yarn publish ./dist/klippa/ngx-enhancy-forms
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
